*~
*.*~

#pycache files
*.pyc

*/*.pyc

project/blog/__pycache__
project/blog/__pycache__/
project/blog/__pycache__/*.pyc

#virtual environment
env

#profile pictures - non default
project/media/profile_pictures/

*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

#other stuff
other
start.bat
run.txt
start_full.bat