{% extends "blog/basic.html" %}
{% block content_big %}

    <div class="display-1 text-center border-bottom">
        About Us
    </div>

    <div class="text-center display-4 text-muted">
       <p class="mt-3 mb-5">
           <i>
                Blob is a website where users can share their thoughts, experiences or even to express their feelings.
                Basically they can create a post about anything they want. And it is completely <span> <b>free</b></span>!
           </i>
       </p> 
    </div>
    <div class="h2 mt-5 text-dark pull-right">
        <a href="#" class="text-muted text-decoration-none ml-2"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
        <a href="#" class="text-muted text-decoration-none ml-2"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
        <a href="#" class="text-muted text-decoration-none ml-2"> <i class="fa fa-youtube" aria-hidden="true"></i> </a>
        <a href="#" class="text-muted text-decoration-none ml-2"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#" class="text-muted text-decoration-none ml-2"> <i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
        <a href="#" class="text-muted text-decoration-none ml-2"> <i class="fa fa-tumblr" aria-hidden="true"></i></a>
        <a href="#" class="text-muted text-decoration-none ml-2"> <i class="fa fa-google-plus" aria-hidden="true"></i></a>
        
        
    </div>
    
{% endblock content_big %}