{% extends "blog/basic.html" %}
{% load crispy_forms_tags %}
{% load blog_extras %} 

{% block content_big %}

<div id="accordion">
    <div class="card ">
      <div class="card-header bg-info" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-dark btn-lg btn-white" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fa fa-filter" aria-hidden="true"></i> Search filters
          </button>
        </h5>
      </div>
        

  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body border border-info bg-light">

            <form method="GET" class="mt-1 p-2"> 
                <fieldset class="form-group ml-3 mr-3">
                    {{ form|crispy }}
                    <button class="btn btn-lg btn-info mt-1 pull-right" type="submit"> <i class="fa fa-search" aria-hidden="true"></i> Search </button>
                </fieldset>
            </form>

        </div>
      </div>
    </div>
</div>

    

    <div class="mt-5 mb-5">
        {% if request.GET.search %}
                <h1> Search results for <b> {{request.GET.search }}</b>  ({{count}})</h1>
                {% if count == 0 %}
                    <h1> Sorry, no results were found </h1>
                    <h3 class="text-muted">Check if the words are typed correctly or try searching for something else</h3>
                {% endif %}
        {% endif %}
        
        
    </div>

    {% for post in posts %}
        <div class="card border border-dark mt-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-1">
                        <img src="{{ post.author.profile.get_picture }}" alt="Profile Picture" class="rounded" width="80" height="80">
                    </div>

                    <div class="col-md">
                        <h5>
                            <span class="text-dark"> </span> <a href="{% url 'account-profile-inspect' post.author.pk %}" class="text-info">{{post.author.username}}</a>
                        </h5>
                        <h1 class="">
                            <a href="{% url 'blog-post-view' post.id %}" class="text-dark font-weight-bold">{{ post.title|upper }}</a> 
                        </h1>
                        
                    </div>
 
                </div>
            </div>
            <div class="card-footer text-muted">
                Posted at {{ post.date|date:"G:i" }} on {{ post.date|date:"l, j F, Y " }}
            </div>
        </div>
    {% endfor %}

    <!-- PAGINATION -->
    <p class="h5 text-muted mt-5 ml-2">
        Page {{ posts.number }} of {{ posts.paginator.num_pages }}
    </p>
    <div class="btn-toolbar " role="toolbar" aria-label="Toolbar with button groups" >
        <div class="btn-group mr-1" role="group" aria-label="First group">
            <!-- <button type="button" class="btn btn-secondary">1</button> -->
            {% if posts.has_previous %}
                <a href="?{% url_replace request 'page' 1 %}" class="btn btn-info"> First </a>
                <a href="?{% url_replace request 'page' posts.previous_page_number %}" class="btn btn-info ml-1"> <i class="fa fa-chevron-left" aria-hidden="true"></i> </a>
            {% endif %}
        </div>

        <div class="btn-group mr-1" role="group" aria-label="Second group">
            <a href="?{% url_replace request 'page' posts.number %}" class="btn btn-outline-info"> {{ posts.number }}</a>
        </div>
                
        <div class="btn-group mr-1" role="group" aria-label="Third group">
            {% if posts.has_next %}
                <a href="?{% url_replace request 'page' posts.next_page_number %}" class="btn btn-info mr-1"> <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <a href="?{% url_replace request 'page' posts.paginator.num_pages %}" class="btn btn-info"> Last </a>
            {% endif %}
        </div>
    </div>
      
    
{% endblock content_big %}