<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap css  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
    <!-- My css -->

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'blog/welcomeStyle.css' %}">

    <title>Blob</title>
</head>
<body>
    <div class="wrapper">
            <div class="button">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 brand ">
                            <h1 class="text-align-center brand-name"> 
                                Blob 
                            </h1>
                            
                            <div class="brand-description">
                                <p>
                                    <span class="text-wrap text-light">
                                        A place where you can freely share your thoughts, opinions and experiences about anything and everything
                                    </span>
                                </p>
                            </div>
                            <div class="mt-5">
                                <a href="{% url 'account-register' %}" class="btn btn-warning brand-register"> Get Started</a>
                            </div>
                            
                        </div>
                    </div>
                </div> 
            </div>
        </div>


        
    <!-- JS  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 
      
</body>
</html>
