{% extends "blog/basic.html" %}
{% load crispy_forms_tags %}
{% block content_big %}
    <div class="content-section">
        
            <div class="mt-1 text-center">
                <h1 class="display-3">
                    Are you sure you want to delete your account?
                </h1> 
                <p class="h3 text-muted">
                    All your wonderful posts and comments will be lost forever.
                </p>
            </div>
            <div class="row mt-5">
                <div class="col-md-3">

                </div>
                <div class="col-md-6 rounded border border-danger">
                    <form method="post" >
                        <!-- Token for django forms -->
                        <fieldset class="form-group mt-2">
                            <span class="h5"> Enter your password </span>
                        </fieldset>
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ form|crispy }}
                        </fieldset>

                        <div class="form-group mt-3">
                            
                            <button class="btn btn-danger" type="submit">Delete</button>
                            <a href="{% url 'account-profile' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
            
        

    </div>
{% endblock content_big %}