{% extends "blog/basic.html" %}
{% load crispy_forms_tags %}
{% block content_big %}

    <div class="card-deck mt-5">
        <div class="card border-dark ">
          <div class="card-body" >  
                    <img src="{{ found_user.profile.picture.url }}" alt="Profile picture" width="150" height="150" class="float-left rounded mr-5">
                    <div class="h1"> {{ found_user.username }} </div>
                    <div class="h5">
                        {{ found_user.email }} 
                    </div>  
                    <p class="card-text text-left text-muted h5">
                        " <i> {{ found_user.profile.info }} </i> "
                    </p>
          </div>
        </div>
        <div class="card border-info">
                <div class="card-header text-info">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i> Some stats 
                </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-sm text-center">
                    <span class="display-4 "> <b>{{ posts_count }} </b></span> <br>
                    <span class="text-muted"> Posts published </span>
                  </div>
                  <div class="col-sm text-center">
                    <span class="display-4"> <b>{{ comments_count }} </b> </span> <br>
                    <span class="text-muted"> Comments posted </span>
                   
                  </div>
              </div>
          </div>
        </div>
  

    


{% endblock content_big %}