{% extends "blog/basic.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="post">
            <!-- Token for django forms -->
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-3"> Log In </legend>
                {{ form|crispy }}
            </fieldset>

            <!-- Submit button  -->
            <div class="form-group mt-3">
                <button class="btn btn-outline-dark" type="submit">Log In</button>
            </div>
        </form>
        <div class="border-top pt-3 mt-2">
            <small class="text-muted">
                Don't have an account? <a href="{% url 'account-register' %}" class="ml-2">Sign up</a> <br>
                <a href="{% url 'reset_password' %}" class="ml-2">Forgot password?</a> 
            </small>

        </div>
        

    </div>
{% endblock content %}