{% extends "blog/basic.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-md">
            <div class="border-right">
                <img src="{{ user.profile.picture.url }}" alt="Profile Picture" class="" width="200" height="200">
            </div>
        </div>
        <div class="col-md-6">
            <h2> <b> {{ user.username }} </b> </h2>
            <h5> {{ user.email }} </h5>
            <p class="text-info mt-3">
                10 Followers  <br>
                2 Following
            </p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md">
            <p>
                <a class="btn btn-outline-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Update Account Info
                </a>
                
              </p>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md">
            <div class="content-section collapse" id="collapseExample">
                <form method="post">
                    <!-- Token for django forms -->
                    {% csrf_token %}
                    <fieldset class="form-group">
                        
                        {{ user_form|crispy }}
                        {{ profile_form|crispy }}
                    </fieldset>

                    <!-- Submit button  -->
                    <div class="form-group mt-3">
                        <button class="btn btn-outline-dark" type="submit">Update</button>
                    </div>
                </form>
                <div class="border-top pt-3 mt-2">
                    

                </div>

            </div>
        </div>
    </div>

{% endblock content %}