{% extends "blog/basic.html" %}
{% load crispy_forms_tags %}
{% block content_big %}
    <div class="row">
        <div class="col-md-3 ">
            <div class="border-right">
                <img src="{{ user.profile.get_picture }}" alt="Profile Picture" class="float-left rounded" width="250" height="250">
            </div>
        </div>
        <div class="col-md ">
            
            <div class="card border border-dark">
                <div class=" text-center card-body">
                    <b class="display-2 card-title font-weight-bold"> {{ user.username }} </b>
                
                
                    <h5 class="display-4 text-center"> {{ user.email }} </h5>
                    <p class="text-dark mt-3">
                        <blockquote class="blockquote text-center">
                            <p class="card-subtitle text-muted"> <em>{{ user.profile.info }}</em> </p>
                        </blockquote>
                    </p>
                </div>
                
            </div>
        </div>
    </div>
    
    <!-- <div class="test">
        <p class="text-success">
            {{ user.profile.picture.url }}
        </p>
        <p class="text-info">
            {{ user.profile.picture.path }}
        </p>
    </div> -->

    <div class="row mt-5">
        <div class="col-md">
            <div class="row">
                <div class="col-md">
                    <div class="card bg-dark text-center">
                        <div class="card-body">
                            <a class="btn btn-lg btn-outline-light mr-2" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Update Info
                            </a>
                            <a href="{% url 'account-password-change' %}" class="btn btn-lg btn-outline-light mr-2">Change Password</a>
                            <a href="#" class="btn btn-lg btn-outline-danger mr-2">Delete Account</a>
                         </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark text-center">
                        <div class="card-body">
                        <a href="{% url 'blog-post-new' %}" class="btn btn-lg btn-outline-info mr-2">Create A Post</a>
                        <a href="{% url 'account-profile-inspect' user.id %}" class="btn btn-lg btn-outline-info mr-2">Inspect</a>
                         </div>
                    </div>
                </div>
                
            </div>

              

        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md">
            <div class="content-section collapse" id="collapseExample">
                <form method="post" enctype="multipart/form-data">
                    <div class="card bg-light border border-dark">
                        <div class="card-body">
                            <!-- Token for django forms -->
                        {% csrf_token %}
                        <fieldset class="form-group">
                            
                            {{ user_form|crispy }}
                            {{ profile_form|crispy }}
                        </fieldset>

                        <!-- Submit button  -->
                        <div class="form-group mt-3">
                            <button class="btn btn-lg btn-dark" type="submit">Update</button>
                        </div>
                        </div>
                    </div>
                    
                </form>
                
                    

                </div>

            </div>
        </div>
    </div>

{% endblock content_big %}