{% extends "blog/basic.html" %}
{% load crispy_forms_tags %}
{% block content_big %}
    <div class="row">
        <div class="col-md-3 ">
            <div class="border-right">
                <img src="{{ user.profile.get_picture }}" alt="Profile Picture" class="float-left rounded" width="250" height="250">
            </div>
        </div>
        <div class="col-md ">
            
            <div class="card border border-dark">
                <div class=" text-center card-body">
                    <b class="display-2 card-title font-weight-bold"> {{ user.username }} </b>
                
                
                    <h5 class="display-4 text-center"> {{ user.email }} </h5>
                    <p class="text-dark mt-3">
                        <blockquote class="blockquote text-center">
                            <p class="card-subtitle text-muted"> <em>{{ user.profile.info }}</em> </p>
                        </blockquote>
                    </p>
                </div>
                
            </div>
        </div>
    </div>
    
    <!-- <div class="test">
        <p class="text-success">
            {{ user.profile.picture.url }}
        </p>
        <p class="text-info">
            {{ user.profile.picture.path }}
        </p>
    </div> -->

    <div class="row mt-5">
        <div class="col-md">
            <p>
                <a class="btn btn-lg btn-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Update Account Info
                </a>
                <a href="{% url 'account-password-change' %}" class="btn btn-lg btn-secondary">Change Password</a>
                <a href="{% url 'blog-post-new' %}" class="btn btn-lg btn-primary">Create A Post</a>
              </p>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md">
            <div class="content-section collapse" id="collapseExample">
                <form method="post" enctype="multipart/form-data">
                    <!-- Token for django forms -->
                    {% csrf_token %}
                    <fieldset class="form-group">
                        
                        {{ user_form|crispy }}
                        {{ profile_form|crispy }}
                    </fieldset>

                    <!-- Submit button  -->
                    <div class="form-group mt-3">
                        <button class="btn btn-outline-dark" type="submit">Update</button>
                    </div>
                </form>
                <div class="border-top pt-3 mt-2">
                    

                </div>

            </div>
        </div>
    </div>

{% endblock content_big %}