{% extends "blog/basic.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="post">
            <!-- Token for django forms -->
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-3"> Create an account </legend>
                {{ form|crispy }}
            </fieldset>

            <!-- Submit button  -->
            <div class="form-group">
                <button class="btn btn-outline-dark" type="submit">Sign up</button>
            </div>
        </form>
        <div class="border-top ">
            <small class="text-muted">
                Already have an account? <a href="{% url 'login' %}" class="ml-2">Sign in</a>
            </small>

        </div>

    </div>
{% endblock content %}