{% extends "blog/basic.html" %}
{% block dependencies %}
    {{ form.media }}
{% endblock dependencies %}

{% load crispy_forms_tags %}

{% block content_big %}

    <form method="post">
        <!-- Token for django forms -->
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-3"> New Post </legend>
            {{ form|crispy }}
        </fieldset>

        <!-- Submit button  -->
        <div class="form-group mt-3">
            <button class="btn btn-outline-dark" type="submit">Publish</button>
        </div>
    </form>

    
{% endblock content_big %}

