{% extends "blog/basic.html" %}


{% block content_big %}

    <div class="pb-2">
        <h1 class="mt-1 text-muted"> Delete Post </h1>
    </div>
    

    <form method="post" class="mt-1">
        <!-- Token for django forms -->
        {% csrf_token %}
        <fieldset class="form-group">
            <h3 class="display-4">
                Are you sure you want to delete <span class="font-weight-bold"> {{ object.title }} </span> ?
            </h3>
        </fieldset>
        

        <!-- Submit button  -->
        <div class="form-group mt-1 border-top mb-2">
            <button class="btn btn-lg btn-danger mt-1 " type="submit"> Delete </button>
            <a href="{% url 'blog-post-view' object.id %}" class="btn btn-lg btn-secondary mt-1  ml-2"> Cancel </a>
            
            
        </div>

        <div class="mt-2">

        </div>
    </form>

    
{% endblock content_big %}