{% extends "blog/basic.html" %}
{% load crispy_forms_tags %}

{% block dependencies %} 
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/postStyle.css' %}">
{% endblock dependencies %}
{% block content_big %}
    <!-- Post Section -->
    <div class="post-detail rounded">
        <div class="row mb-5 border-bottom ">
            <div class="col-md">
                <h1 class="post-title">
                    {{ post.title }}
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md ">
                {{ post.content|safe }}
            </div>
        </div>
        <div class="row border-bottom mt-3">

        </div>
        <div class="row">
            <div class="col-md">
                <div class="text-muted">
                    Posted by <a href="#" class="text-info"> {{ post.author.username }} </a> on
                    {{ post.date|date:"d F, Y" }}
                </div>
                
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md">
                {% if user == post.author %}
                    <a class="btn btn-primary" href="{% url 'blog-post-edit' post.id %}"> Edit </a>
                    <a class="btn btn-danger" href="{% url 'blog-post-delete' post.id %}"> Delete </a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Comment Section -->
    <div class="mt-5 border-bottom">
        <h1 class="text-dark ml-2 ">Comments - <span class="" > {{ comments_count }}</span> </h1> 
    </div>

    <div class="post-comment-section mt-3 container bg-light rounded">
        <div class="row mt-2 ">
            <div class="col-md">
                {% if user.is_authenticated %}

                    <div class="col-md mt-3 mb-3 rounded border border-dark p-2">  
                        <form method="post" class="mt-1 " >
                            {% csrf_token %}
                            <div class="form-row  p-2">
                                <div class="col-md-1">
                                    <img class="rounded border border-white" src="{{ user.profile.picture.url }}" width="50" height="50" alt="Picture">
                                </div>
                                
                                <div class="col-md">
                                    <fieldset class="">
                                        {{ form.content }}
                                        
                                    </fieldset>
                                </div>
                                <div class="col-md-1">
                                    <fieldset class="">
                                        <button class="btn btn-dark btn-lg mt-1 pull-right" type="submit"> Post </button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                {% else %}
                    <div class="col-md mt-3 mb-3 rounded border border-dark p-2 text-center">
                        <h4>
                            You have to be <a href="{% url 'login' %}?next={{ request.path }}" class="text-info">logged in</a>  to comment.
                        </h4>
                    </div>
                {% endif %}
            </div>
        </div>
    
        
        <div class="mt-5">
            {% for comment in comments %}
                <div class="row mt-2 p-2 ml-1 ">
                    <div class="col-md-1">
                        <img class="rounded" src="{{ comment.author.profile.picture.url }}" width="50" height="50" alt="Picture">
                    </div>
                    <div class="col-md ">
                        
                        <div class="comment-content border-bottom p-2">
                            {{ comment.content }}
                        </div>
                        <div class="text-muted comment-detail">
                            Comment posted by <a href="#" class="text-info">{{ comment.author.username }}</a> on {{ comment.date|date:"d F, Y"}}
                        </div>
                    </div>
                    <div class="col-md-1">
                        {% if comment.author == user %}
                            <div class="btn-group">
                                <button class="btn btn-light btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item text-dark" href="{% url 'blog-comment-edit' comment.id %}"> Edit </a>
                                    <a class="dropdown-item text-danger" href="{% url 'blog-comment-delete' comment.id %}"> Delete </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content_big %}