{% extends "blog/basic.html" %}
{% load crispy_forms_tags %}
{% block content_big %}

<div id="accordion">
    <div class="card">
      <div class="card-header bg-white" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-dark btn-lg btn-white" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Search filters
          </button>
        </h5>
      </div>
        

  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body bg-light">

            <form method="GET" class="mt-1 p-2"> 
                <fieldset class="form-group ml-3 mr-3">
                    {{ form|crispy }}
                    <button class="btn btn-lg btn-primary mt-1 pull-right" type="submit"> <i class="fa fa-search" aria-hidden="true"></i> Search </button>
                </fieldset>
            </form>

        </div>
      </div>
    </div>
</div>

    

    <div class="mt-5 mb-5">
        {% if request.GET.title or request.GET.author %}
            <h1> Search results for <b> {{request.GET.title }}</b> <span class="text-info"> {{ request.GET.author }} </span> </h1>
        {% else %}
            <h1> Browse posts </h1>
        {% endif %}
    </div>

    {% for post in posts %}
        <div class="card  mt-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-1">
                        <img src="{{ post.author.profile.picture.url }}" alt="Profile Picture" class="" width="70" height="70">
                    </div>

                    <div class="col-md">
                        <h5>
                            <span class="text-dark"> </span> <a href="#" class="text-info">{{post.author.username}}</a>
                        </h5>
                        <h1 class="">
                            <a href="{% url 'blog-post-view' post.id %}" class="text-dark font-weight-bold">{{ post.title|upper }}</a> 
                        </h1>
                        
                    </div>
 
                </div>

                <div class="row mt-2">
                    <div class="col-md">
                        <div class="border-top text-muted">
                            Posted on {{ post.date|date:"G:i D d, F Y " }}
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    {% endfor %}

    
{% endblock content_big %}