{% extends "blog/basic.html" %}
{% block dependencies %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/homeStyle.css' %}">
{% endblock dependencies %}
{% block content_big %}

<div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center display-1"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </h5>
        <p class="card-text text-center h1"> More than <b> {{posts_count}} </b>creative posts </p>
      </div>
      
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center display-1"><i class="fa fa-users" aria-hidden="true"></i></h5>
        <p class="card-text text-center h1"> Currently with <b>{{users_count}}</b> users registered</p>
      </div>
      
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center display-1"><i class="fa fa-comment-o" aria-hidden="true"></i></h5>
        <p class="card-text text-center h1">Over <b>{{comments_count}}</b> comments</p>
      </div>
      
    </div>
  </div>
<div class="background-image">


  
    
{% endblock content_big %}